:root {
    --mien-title-color: #FFFFFF;
    --second-title-color: #2E2F42;
    --basic-text-color: #434455;
    --second-text-color: #E7E9FC;
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --success: #31D0AA;
    --light: #F4F4FD;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    padding-left: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: var(--basic-text-color);
}

.link {
    text-decoration: none;

}

.list {
    list-style: none;
}

.container {

    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid red;
}

/*------------- header -------------*/

.headerly {
    border-bottom: 1px solid #E7E9FC;
}

.container-headerly {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 92px;
}

.headerly-nav {
    display: flex;
}

.headerly-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    margin-left: 0;
    color: var(--primary-brand);
}

.logo {
    color: var(--second-title-color);
}

.headerly-list {
    display: flex;
    margin: 0 332px 0 0;
}

.headerly-item {
    margin: 0 40px 0 0;
}

.headerly-item:last-child {
    margin-right: 0;

}

.headerly-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
}

.headerly-link:hover,
.headerly-link:focus,
.address-link:hover,
.address-link:focus {
    color: var(--pressed-state);
}

.headerly-address {
    font-style: normal;
    margin: 0;
}

.addres-list {
    display: flex;
    margin: 0;
}

.address-item {}

.address-item:first-child {
    margin-right: 40px;
}

.address-link {

    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--basic-text-color);
}


/*------------ main -----------*/

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--basic-text-color);
}

/*----------- hero -----------*/

.hero {
    background: var(--dark)
}

.hero-container {

    margin-bottom: 28px;
    padding: 150px 337px 192px 319px;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--mien-title-color);
    margin-bottom: 82px;


}

.hero-btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    cursor: pointer;
    background: var(--primary-brand);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    letter-spacing: 0.04em;
    color: var(--mien-title-color);
    margin: 0 179px 0 148px;
    padding: 16px 32px;
    gap: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-width: 169px;
}

.hero-btn:hover,
.hero-btn:focus {
    background: var(--pressed-state);
    color: var(--mien-title-color);
}

/* about */

.about {}

.about-container {

    align-items: center;
    margin-bottom: 120px;
}

.about-list {
    display: flex;
}

.about-item {
    display: flex;
    flex-wrap: wrap;
    width: 264px;
}

.about-item {
    margin-left: 24px;
}

.about-item:first-child {
    margin-left: 0;
}


.about-title {
    margin-bottom: 8px;
}

.about-text {}

.about-text:last-child {}

/* work */

.work {}

.work-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--second-title-color);
}

.work-list {}

.work-item {}

/* Team */

.team {
    background: var(--light);
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--second-title-color);
}

.team-list {}

.team-item {}

.team-name {}

.team-text {}

/* footer */

.footerly {
    background: var(--dark);
}

.container-footerly {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 108px;
}

.footerly-text {
    color: var(--second-text-color);
}

.footerly-logo {
    color: var(--light);
}

/* Portfolio */

.portfolio {}

.container-portfolio {
    padding-top: 96px;
}

.filters-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;


}

.filters-btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--primary-brand);
    background: var(--light);
}

.filters-btn:hover,
.filters-btn:focus {
    color: var(--mien-title-color);
    background: var(--pressed-state);
}

.filters-item {
    margin-left: 24px;
}

.filters-item:first-child {
    margin-left: 0;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
}

.project-link {}

.project-item {}

.project-title {}

.project-text {}